<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org
" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
</head>
<body>
    <section>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-md-8 offset-md-2 p-3">
                <form >
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch">
                        <button class="btn btn-light text-dark ms-2 col-md-2"> <i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-1">
            <div class="row">
<!--                start menu-->
                <div class="col-md-2 p-0">

                    <div class="card shadow-sm bg-body-tertiary rounded p-0">
                        <div class="card-body">
                            <div class="list-group">
                                <p class="fs-4">Category</p>
                                <a href="/product"
                                   class="list-group-item list-group-item-action"
                                   aria-current="true"
                                   th:classappend="${paramValue==''}?'active':''"
                                >
                                    All
                                </a>
                                <a th:each="cat:${categories}"
                                   th:href="@{'/product?category='+${cat.name}}"
                                   th:classappend="${paramValue== cat.name? 'active':''}"
                                   class="list-group-item list-group-item-action">[[${cat.name}]]
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
<!--                end menu-->

<!--                start product-->
                <div class="col-md-10">
<!--                    Tạo card để có viền-->
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center">Products</p>
                            <div class="row">
                                <div class="col-md-3" th:each="p:${products}">
<!--                                thẻ product-->
                                    <div class="card shadow bg-body-tertiary rounded">
                                        <div class="card-body text-center">
                                            <img th:src="@{'/img/product_images/'+${p.image}}" width="70%" height="200px">
                                            <p class="fs-5 text-center">[[${p.title}]]</p>
                                            <div class="row text-center">
                                                <p class="fs-6 fw-bold">
                                                   <span class="text-decoration-line-through">[[${p.price}]]&#8363;</span>
                                                    [[${p.discountPrice}]]
                                                <span class="fs-6 text-success">
                                                    [[${p.discount}]]% off
                                                </span>
                                                </p>
                                                <a class="btn btn-primary col-md-6 offset-md-3 p-2" th:href="@{'/view_product/'+${p.id}}">View Details</a>
                                            </div>
                                        </div>
                                    </div>
<!--                              end thẻ product-->
                                </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
<!--                end products-->
            </div>
        </div>

    </section>

</body>
</html>